/* Start AdminLTE.css fixes*/

.box-header > .box-tools button {
	margin: 0 5px;
}

.fullscreen-wrapper {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 99999;
  background-color: rgb(226, 240, 239);
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* End AdminLTE.css fixes*/



/* Start of Smart Table Styles */
.st-sort-ascent:before{
	content: '\25B2';
}

.st-sort-descent:before{
	content: '\25BC';
}

/* End of Smart Table styles*/


/* Start of Examples, not required in production */
.example-modal .modal {
  position: relative;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  display: block;
  z-index: 1;
}
.example-modal .modal {
  background: transparent!important;
}

/* End of Examples*/