<div class="fullscreen-wrapper">
  <div class="login-box">
    <div class="login-logo">
      <a ng-bind-html="siteConfig.logoHtml"></a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
      <center><span class="login-icon glyphicon glyphicon-user"></span></center>
      <form>
        <div class="form-group has-feedback">         
          <input type="text" class="form-control" placeholder="Email"/>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Password"/>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8 checkbox">
            <label>
              <input type="checkbox"> Remember Me
            </label>   
          </div><!-- /.col -->
          <div class="col-xs-12 form-group">
          <button ng-click="$state.go('root.dashboard')" class="btn btn-success btn-block btn-flat btn-lg">Sign In</button>
          </div><!-- /.col -->
        </div>


        <div class="row">
          <div class="col-xs-12">   
          <button ng-click="$state.go('root.dashboard')" class="btn col-xs-5 btn-info btn-flat btn-sm">I forgot my password.</button>
          <button ng-click="$state.go('root.register')"class="btn col-xs-offset-1 col-xs-6 btn-default btn-flat btn-sm">Register new membership</button>
          </div> 
        </div>
      </form>

      <div class="social-auth-links text-center">
        <p>- OR -</p><P>You can sign in via your social network</P>
        <a class="btn btn-social-icon btn-default"><i class="fa fa-facebook"></i></a>
        <a class="btn btn-social-icon btn-default"><i class="fa fa-google-plus"></i></a>

      
      </div><!-- /.social-auth-links -->

      



    </div><!-- /.login-box-body -->
  </div><!-- /.login-box -->
</div><!-- /.login-box-wrapper -->