<div class="fullscreen-wrapper">
  <div class="login-box">
    <div class="login-logo">
      <a ng-bind-html="siteConfig.logoHtml"></a>
    </div><!-- /.login-logo -->
    <div class="login-box-body">
      <center><span class="login-icon glyphicon glyphicon-user"></span></center>
      <form>
        <div class="form-group has-feedback">         
          <input type="text" class="form-control" placeholder="Email"/>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Password"/>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8 checkbox">
            <label>
              <input type="checkbox"> Remember Me
            </label>   
          </div><!-- /.col -->
          <div class="col-xs-12">
            <button ng-click="$state.go('root.dashboard')" class="btn btn-success btn-block btn-flat btn-lg">Sign In</button>
            <center><a ui-sref="root.dashboard">Forgot your password? Click here please.</a></center>
          </div><!-- /.col -->
        </div>
      </form>

      <div class="social-auth-links text-center">
        <p>- OR -</p>
        
        <a class="btn btn-block btn-social btn-success btn-flat" ui-sref="root.dashboard"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
        <a class="btn btn-block btn-social btn-success btn-flat" ui-sref="root.dashboard"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
      
      </div><!-- /.social-auth-links -->
      <button ui-sref="root.register" class="btn btn-default btn-block btn-flat">Register a new membership</button>


    </div><!-- /.login-box-body -->
  </div><!-- /.login-box -->
</div><!-- /.login-box-wrapper -->