<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">

  <!-- Sidebar Menu -->
  <ul class="sidebar-menu">
    
    <li class="header"><b>DASHBOARD</b></li>
    <li ng-class="{'active': $state.current.name === 'root.dashboard'}">
      <a ng-click="resetTreeview()" ui-sref="root.dashboard"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span><span> Overall</span></a>
    </li>
    <!-- Treeview table menu, config is from services.SiteContent.sidebarDashboardMenu -->
    <li class="treeview" ng-repeat="dashboard in dashboardCfg" ng-class="{'active': treeview.dashboard[$index]}">
      <a ng-click="resetTreeview(); treeview.dashboard[$index] = !treeview.dashboard[$index]"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></span><span>{{dashboard.label}}</span> <i class="fa fa-angle-left pull-right"></i></a>
      <ul class="treeview-menu">
        <li ng-class="{'active': $state.current.name === 'root.dashboard.summary'}">
          <a ui-sref="root.dashboard.summary({dashboardCampaign: dashboard.id})"></span>Campaign Summary</span></a>
        </li>
        <li ng-class="{'active': $state.current.name === 'root.dshboard.analytics'}">
          <a ui-sref="root.dashboard.analytics({dashboardCampaign: dashboard.id})"></span>Campaign Analytics</span></a>
        </li>
      </ul>
    </li>
    <li class="header"><b>DATABASE CONSOLE</b></li>
    <!-- Treeview table menu, config is from services.SiteContent.sidebarTableMenu -->
    <li class="treeview" ng-repeat="category in treeviewCfg" ng-class="{'active': treeview.table[$index]}">
      <a ng-click="resetTreeview(); treeview.table[$index] = !treeview.table[$index]"><span class="{{category.icon}}" aria-hidden="true"></span><span>{{category.label}}</span> <i class="fa fa-angle-left pull-right"></i></a>
      <ul class="treeview-menu">
        <li ng-repeat="table in category.tables" ng-class="{'active': $state.params.tableName === table.tableName}">
          <a ui-sref="root.table.list({tableName: table.tableName})"></span>{{table.label}}</span></a>
        </li>
      </ul>
    </li>
    <!-- Test UI Elements -->
    <li class="header"><b>ETS ADMIN TEMPLATE</b></li>
    <li class="treeview" ng-class="{'active': treeview[99] || $state.includes('root.elements')}">
      <a ng-click="resetTreeview(); treeview[99] = !treeview[99]"><span>UI Elements</span> <i class="fa fa-angle-left pull-right"></i></a>
      <ul class="treeview-menu">
        <li>
          <a ui-sref="root.elements.general"><span>General</span></a>
        </li>
        <li>
          <a ui-sref="root.elements.buttons"><span>Buttons</span></a>
        </li>
        <li>
          <a ui-sref="root.elements.modals"><span>Modals Examples</span></a>
        </li>
        <li>
          <a ui-sref="root.elements.forms"><span>Forms Elements</span></a>
        </li>
        <li>
          <a ui-sref="root.elements.api"><span>API Document (Sample Data)</span></a>
        </li>
      </ul>
    </li>
  </ul><!-- /.sidebar-menu -->

    <!-- search form (Optional) 
  <form class="sidebar-form">
    <div class="input-group">
      <input type="text" name="q" class="form-control" placeholder="Search..."/>
      <span class="input-group-btn">
        <button name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </form>
   /.search form -->
</section>
<!-- /.sidebar -->
